/*
    Changez le style pour votre composante. N'ayez pas peur, ce fichier de style
    ne va affectez que ce composant.
 */

p {
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
}